<% if @restaurant.module_menus %>

  <ul class="nav nav-tabs" role="toolbar" aria-label="...">

    <li role="presentation">
      <%= link_to new_menu_url(subdomain: @restaurant), class: "btn btn-default" do %>
        <%= glyphicon "plus" %> ajouter un menu
      <% end %>
    </li>

    <li role="presentation">
      <%= link_to menus_edit_url(subdomain: @restaurant), class: "btn btn-default" do %>
        <%= glyphicon "pencil" %> gérer les menus
      <% end %>
    </li>

  </ul>
<% end %> 