<ul class="nav nav-tabs" role="toolbar" aria-label="...">

  <% Restaurant::MODULES.each do |module_name, description| %>

    <li role="presentation">
      <%= link_to activate_module_url(module: module_name, subdomain: @restaurant), class: "btn btn-default", method: :patch do %>
        <% activated = @restaurant.send("module_#{module_name}") %>
        <%= glyphicon(activated ? "check" : "unchecked") %> <%= activated ? "désactiver" : "activer"  %> <%= description %>
      <% end %>
    </li>

  <% end %>

</ul>
