<ul class="nav nav-tabs" role="toolbar" aria-label="...">

  <li role="presentation">
    <%= link_to admin_opening_hours_path, class: "btn btn-default" do %>
      <%= glyphicon "time" %> editer les horaires
    <% end %>
  </li>

  <li role="presentation">
    <%= link_to admin_links_path, class: "btn btn-default" do %>
      <%= glyphicon "link" %> gérer les liens
    <% end %>
  </li>

</ul>
