<div class="col-sm-12">
  <%= picture_tag menu, :picture_display, css_class: 'section-img', size: 100 %>
  <% if @restaurant.module_menus and not menu.dishes.empty?%>
    <%= render 'dishes/list', dishes: menu.dishes, cache: true %>
  <% end %>
</div>