<div class="col-xs-12">
  <h1>Menus</h1>
</div>

<% if admin? %>
  <div class="col-xs-12 admin">
    <%= render 'toolbars/menus' %>
  </div>
<% end %>

<div class="col-xs-12">
  <% @menus.each do |menu| %>
    <h2><%= link_to menu.name, menu %> <small><%= menu.description %></small></h2>

    <%= render 'details', menu:  menu %>
  <% end %>
</div>