<table class="table table-hover">

  <% OpeningHour::DAYS.each do |field| %>

    <tr class="table-dark">
      <th><%= field %></th>
      <td
        class="editable"
        data-fields="<%= field %>"
        data-url="<%= url_for edit_opening_hour_path(restaurant.id) %>"
      >
        <% if restaurant.opening_hour %>
          <%= restaurant.opening_hour.send(field)  %>
        <% else %>
          fermé
        <% end %>
      </td>
    </tr>

  <% end %>
    
</table>