<table class="table">

  <tr>
    <th>Jour</th>
    <th>Ouverture</th>
    <th>Fermeture</th>
    <th>Valable à partir de</th>
    <th></th>
  </tr>
  
  <% opening_hours.each do |opening_hour| %>
    <tr>
      <%= render 'opening_hours/form', opening_hour: opening_hour  %>
    </tr>
  <% end %>

  <tr>
    <%= render 'opening_hours/form', opening_hour: OpeningHour.new  %>
  </tr>

</table>
