<div class="col-xs-12">
  <h2>Ajouter une horaire d'ouverture</h2>
</div>

<%= render 'form', opening_hour: OpeningHour.new %>


<div class="col-xs-12">
  <h2>Editer les horaires d'ouvertures</h2>
</div>

<%= form_tag opening_hours_edit_path do  %>

  <% @restaurant.opening_hours.each do |opening_hour| %>
    <%= render 'subform', opening_hour: opening_hour %>
  <% end %>

  <div class="col-xs-12">
    <%= submit_tag 'Tout mettre à jour', class: 'btn btn-primary' %>
  </div>
    
<% end %>
