<div class="col-xs-12">
  <h2>Editer les horraires d'ouvertures</h2>
</div>

<div class="col-xs-12">
  <table class="table">

    <tr>
      <th>Jour</th>
      <th>Ouverture</th>
      <th>Fermeture</th>
      <th>Valable à partir de</th>
      <th>Valable jusqu'à</th>
      <th></th>
    </tr>
    
    <% @restaurant.opening_hours.order(day: :asc).each do |opening_hour| %>
      <tr>
        <%= render 'opening_hours/form', opening_hour: opening_hour  %>
      </tr>
    <% end %>

    <tr>
      <%= render 'opening_hours/form', opening_hour: OpeningHour.new  %>
    </tr>

  </table>
</div>