<div class="col-xs-12">
  <h2>Editer les horaires d'ouvertures</h2>
</div>



<% @restaurant.opening_hours.order(day: :asc).each do |opening_hour| %>
  <tr>
    <%= render 'opening_hours/form', opening_hour: opening_hour  %>
  </tr>
<% end %>

<%= render 'opening_hours/form', opening_hour: OpeningHour.new  %>