<% flash.each do |key, value| %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="alert alert-dismissible alert-<%= key %>" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if value.kind_of? Array %>
          <ul>
            <% value.each do |item| %>
              <li><%= item.html_safe %></li>
            <% end %>
          </ul>
        <% else %>
          <%= value.html_safe %>
        <% end %>
      </div>
    </div>
  </div>
<% end %> 