<div class="form-group">
  <%= form.label :logo  %>
  <%= image_tag model.logo.url, alt: "photo du #{model.name}", size:50,  class: 'img-circle' if model.logo? %>
  <%= form.file_field :logo %>
</div>