<div class="btn-group-vertical col-xs-12 " role="toolbar" aria-label="...">

  <%= link_to new_menu_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "plus" %> ajouter un menu
  <% end %>

  <%= link_to menus_edit_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> gérer les menus
  <% end %>

</div>