<div class="btn-group-vertical col-xs-12 " role="toolbar" aria-label="...">
    <%= link_to new_section_path, class: "btn btn-default" do %>
      <%= glyphicon "plus" %> Ajouter du texte
    <% end %>

    <%= link_to sections_edit_path, class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> gérer la page d'acceuil
  <% end %>
</div>