<div class="btn-group col-xs-12 " role="toolbar" aria-label="...">
    <%= link_to new_section_url(subdomain: @restaurant), class: "btn btn-default" do %>
      <%= glyphicon "plus" %> Ajouter du texte
    <% end %>

    <%= link_to sections_edit_url(subdomain: @restaurant), class: "btn btn-default" do %>
    <%= glyphicon "pencil" %> Gérer la page d'accueil
  <% end %>
</div>