header{text-align: center;}
  header p{font-size:2.5em;}

h1,
h2,
h3{font-weight: 800;line-height: 1.5;text-align: center;}
h1{font-size:4em;}
h2{font-size:3em;font-weight: 800;line-height: 1.5;}

table{font-size: 1.2em;}
  table *{text-align: center}

section,
header{padding-top: 100px; padding-bottom: 100px}
  section p{font-size: 2.4rem;text-align: center;color: #555;text-align: center;margin-top: 25px;}

section.faq h3{font-size: 2.3rem;}
  section.faq p{font-size: 1.9rem;}

footer{margin-top: 100px; padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5; text-align: center}