
<div class="col-xs-6 col-sm-4 col-lg-3">
  <strong>Gratuit</strong>

  <ul>
    <li>Parfait pour essayer notre produit</li>
    <li>Pas de période d'essai</li>
  </ul>

  <p><%= link_to "Compte gratuit", signup_path, class: 'btn btn-default' %></p>
</div>

<div class="col-xs-6 col-sm-4 col-lg-3">
  <strong>Premium</strong>

  <ul>
    <li>Support exclusif</li>
    <li>Développement de vos idées</li>
    <li>URL personnalisée</li>
    <li>Aucun lien vers notre site</li>
  </ul>

  <p><%= link_to "Compte premium", signup_path, class: 'btn btn-primary' %></p>
</div>

