<div class="page-header">
  <h1>Fooder <small>web-site generator</small></h1>
  <p>Vous posséder un restaurant et vous chercher à le <strong>valoriser</strong> avec un beau site mais:</p>
</div>


<section>
  <h2>Vous pensez que <strong>HTML</strong> et <strong>CSS</strong> sont des organismes de l'<strong>URSSAF</strong></h2>
  <p>Perdu! Mais ça aurait pu...</p>
</section>

<section>
  <h2>Votre <strong>beau-frère</strong> n'est pas spécialement bon en <strong>informatique</strong> non plus</h2>
  <p>Il à préféré travailler dans la fonction publique le salaud!</p>
</section>


<section>
  <h2>Vous n'avez pas de temps à perdre avec tout ça</h2>
  <p>Et moi je suis prêt à le perdre pour vous!</p>
  <p>
    <%= link_to "voir l'exemple", restaurant_path(2812), class: 'btn btn-primary' %>
  </p>
</section>
