<div class="col-xs-12">
  <h1>Carte</h1>
</div>

<div class="col-xs-12">
  <%= render 'shared/dishes_toolbar' if admin? %>
</div>

<div class="col-xs-12">
  <%= render 'list', dishes: @dishes %>
</div>
