<div class="col-xs-12">
  <%= render 'toolbars/dishes' if admin? %>
</div>

<div class="col-xs-12 page-header">
    <h1>Carte</h1>
</div>

<div class="col-xs-12">
  <%= render 'list', dishes: @dishes %>
</div>
