<h1>Administration</h1>

<div class="col-sm-6">

  <h3>Restaurant</h3>

  <div class="btn-group" role="toolbar" aria-label="...">
    <%= link_to "Ajouter du texte sur la page d'acceuil", new_restaurant_section_path(@restaurant), class: "btn btn-default" %>
    <%= link_to 'editer ce restaurant', edit_restaurant_path(@restaurant), class: "btn btn-default" %>
    <%= link_to 'supprimer ce restaurant', @restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'  %>
  </div>

</div>

<div class="col-sm-6">

  <h3>Carte et menus</h3>

  <div class="btn-group" role="toolbar" aria-label="...">
    <%= link_to 'ajouter un plat', new_restaurant_dish_path(@restaurant), class: "btn btn-default" %>
    <a class="btn btn-default" href="#">organiser les catégories</a>
  </div>

</div>

<div class="col-sm-6">

  <h3>Carte et menus</h3>

  <div class="btn-group" role="toolbar" aria-label="...">
    <a class="btn btn-default" href="#">organiser les catégories</a>
  </div>

</div>