<div class="col-xs-12">
  <h1>Editer le restaurant</h1>
</div>

<%= render 'form', restaurant: @restaurant %>

<div class="col-xs-12">
  <h2>Editer les horraires d'ouvertures</h2>
</div>

<%= render 'opening_hours/edit', opening_hours: @restaurant.opening_hours %>
