<h1>Actualité</h1>


<% @posts.each do |post| %>

  <section>
    <h2><%= post.title %></h2>
    <p class="text-justify"><%= tags post.tags %><br/>

    <%= post.content %></p>
  </section>

<% end %>

<% if current_user == @restaurant.user %>
  <%= link_to 'Ajouter un article', new_restaurant_post_path(@restaurant), class: 'btn btn-primary' %>
<% end %>
