@import colors

#admin-panel
  display: none
  padding-top: 50px

  .ui-widget-content
    border: none

  // fixed to the right
  @media screen and (min-width: 992px)
    right: 0px
    top: 0px
    bottom: 0
    height: 100vh
    position: fixed

    background-color: $admin_panel
    color: $logo_font_color

    padding-left: 0
    padding-right: 0
    margin-top: 20px

    .ui-accordion-content
      background-color: transparent

      .btn
        text-align: left
        display: block
        border: none
        background: transparent
        text-shadow: none

        &:hover
          text-decoration: underline

    .btn-group-vertical.col-xs-12
      padding: 0px


  .ui-accordion-header
    background-color: transparent
    border: none
    color: $logo_font_color

    font-size: 18px

    -moz-border-radius: 0px
    -webkit-border-radius: 0px
    border-radius: 0px

