div.jumbotron.header

  &:nth-child(even)
    background-color: transparent


  padding-top: 100px
  padding-bottom: 100px
  padding-left: 50px
  padding-right: 50px

  p
    line-height: 30px
    text-align: justify
    // align text to title
    margin-left: 0
    margin-right: 0