div.jumbotron.header

  &:nth-child(even)
    background-color: transparent


  padding-top: 100px
  padding-bottom: 100px
  padding-left: 50px
  padding-right: 50px

  p
    line-height: 30px
    text-align: justify
    // align text to title
    margin-left: 0
    margin-right: 0


.restaurant-header
  min-height: 800px 
  background-size: cover
  background-position: center
  
  h1
    line-height: 800px
    font-size: 5em
    text-align: center
    text-shadow: 1px 1px 1px white

    img
      max-height: 2em
      margin-right: 20px