header#cover
  /*for vertical align*/
  position: relative
  /*set background image*/
  background-size: cover
  background-position: center
  text-align: center
  /*allign to bottom*/
  height: 800px
  padding-top: 650px
  font-family: 'Parisienne', cursive

  p
    font-size: 24px

div.cell-vertical-align

  /*vertical align*/
  position: absolute
  top: 50%
  transform: translateY(-50%)
  /*horizontal align*/
  width: 100%

        
  h1,
  p
        
    padding: 2rem
    background: rgba(0, 0, 0, 0.5)
    color: white
    display: inline-block
    width: auto
    margin: auto

h1
  font-size: 10rem
h2
  font-size: 8rem
h3
  font-size: 6rem
h4
  font-size: 2rem

h1,h2,h3
  font-family: 'Parisienne', cursive
  margin-bottom: 4rem
  margin-top: 6rem
  text-align: center

span.price
  margin-left: 1rem
  color: lightgray

section
  padding-top: 5rem
  padding-bottom: 5rem

  &:nth-child(even)
    background-color: rgb(240,240,240)
